<!--yユーザーの詳細-->

<div>
  <% if @user.profile_image.present? %>
    <%= image_tag @user.profile_image, size: "50x50" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "50x50" %>
  <% end %>


  <%= @user.name %>
  <%= @user.goal %>

  <% if current_user == @user %>
    <%= link_to 'プロフィールを編集する', edit_user_path(@user), class: "btn btn-sm btn-success" %>
  <% else %>
      <!--フォロー機能-->
    <% if current_user.following?(@user) %>
      <%= link_to "フォロー外す", user_follows_path(@user.id), method: :delete, class: "btn btn-sm btn-success" %>
    <% else %>
      <%= link_to "フォローする", user_follows_path(@user.id), method: :post, class: "btn btn-sm btn-success" %>
    <% end %>
  <% end %>
  

   <%= link_to user.followings.count, user_followings_path(user.id) %>



</div>