<style>
  .table {
    width: 100%;
    table-layout: fixed;
  }
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }
  .table h6 {
    margin: 0;
  }
  .with-border {
     border: 2px solid #dee2e6;
  }
</style>
<div class="container">
  <div class="row align-items-start">
    <div class="col-4">
      <div class="user-profile text-center">
        <div class="profile-header">
          <% if @user.profile_image.present? %>
            <%= image_tag @user.profile_image, class: "rounded-circle profile-image with-border", width: "150", height: "150" %>
          <% else %>
            <%= image_tag 'no_image.jpg', class: "rounded-circle profile-image with-border", width: "150", height: "150" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class="border" style="padding:10px;">
        <table class='table'>
　　　　　 <tr>
        	  <th class="col-3">名前</th>
        	  <th><%= @user.name %></th>
          </tr>
          <tr>
        	  <th>目標</th>
        	  <th style="height: 100px;"><%= @user.goal %></th>
          </tr>
          <tr>
            <th>フォロー</th>
            <th>
              <%= link_to user_followings_path(@user) do %>
                <h6><%= @user.followings.count %></h6>
              <% end %>
            </th>
          </tr>
          <tr>
            <th>フォロワー</th>
            <th>
              <%= link_to user_followers_path(@user) do %>
                <h6><%= @user.followers.count %></h6>
              <% end %>
            </th>
          </tr>
        </table>

        <% if current_user == @user %>
          <%= link_to 'プロフィールを編集する', edit_user_path(@user), class: "btn btn-primary btn-sm" %>
          <%= link_to "いいねした記録", likes_user_path(@user), class: "btn btn-success btn-sm" %>

        <% else %>
          <!-- フォロー機能 -->
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー外す", user_follows_path(@user.id), method: :delete, class: "btn btn-success btn-sm" %>
          <% else %>
            <%= link_to "フォローする", user_follows_path(@user.id), method: :post, class: "btn btn-primary btn-sm" %>
          <% end %>
        <% end %>
      </div>
　   </div>
  </div>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
      <h4>登録ユーザー数</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>メールアドレス</th>
                <th>名前</th>
                <th>退会処理</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |u| %>
                <tr>
                  <td><%= u.email %></td>
                  <td><%= u.name %></td>
                  <% unless u.guest? || u.admin? %>
                    <td><%= link_to "退会させる",user_path(u), class: "destroy-user btn btn-danger", method: :delete, "data-confirm" => "本当に退会させますか？" %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <p>登録者合計：<%= @users.count %></p>
      <% end %>
    <% end %>
</div>





