<h1>投稿一覧</h1>

<% @posts.each do |post| %>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header bg-transparent border-light">
    <% if post.user.present? && post.user.profile_image.attached? %>
      <%= image_tag post.user.profile_image, size: "50x50" %>
    <% else %>
       <!--画像が存在しない場合-->
      <%= image_tag 'no_image.jpg', size: "50x50" %>
    <% end %>
    <%= link_to post.user.name, user_path(post.user) %>
  </div>
  <div class="card-body text-dark">
    <h5 class="card-title"><%= post.genre.name %></h5>
    <p class="card-text">内容：<%= post.body %></br>
    投稿画像：<%= image_tag post.image.variant(resize: "50x50") if post.image.attached? %>
    </p>

  </div>
  <div class="card-footer bg-transparent border-light">
    <%= link_to '詳細', post_path(post) %>
    <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
    <% if post.liked_by?(current_user) %>
      <p>
        <%= link_to post_likes_path(post), method: :delete do %>
          ♥<%= post.likes.count %>
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to post_likes_path(post), method: :post do %>
          ♡<%= post.likes.count %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>

<% end %>