<h1>投稿詳細</h1>
<% if @post.user == current_user %>
 <%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-success" %>
 <%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
<% end %>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header bg-transparent border-light">投稿ユーザー画像</div>
  <div class="card-body text-dark">
    <h5 class="card-title"><%= @post.genre.name %></h5>
    <p class="card-text">内容：<%= @post.body %></br>
    投稿画像：<%= image_tag @post.image.variant(resize: "50x50") if @post.image.attached? %>
    </p>

  </div>
  <div class="card-footer bg-transparent border-light">
    <div>
      <p>コメント件数：<%= @post.comments.count %></p>
      <% @post.comments.each do |comment| %>
        <p>
          <% if comment.user.profile_image.present? %>
            <%= image_tag comment.user.profile_image, size: "50x50" %>
          <% else %>
           <!--画像が存在しない場合-->
     　　　　 <%= image_tag 'no_image.jpg', size: "50x50" %>
          <% end %>

        </p>
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
</div>
