<!DOCTYPE html>
<html>
  <head>
    <title>Training</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/52ec04519a.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
  header {
    margin-bottom: 50px;
  }
　</style>


  <body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <span><img src="<%= asset_path('rogo3.png') %>" alt="ロゴ" style="width: 80px; max-height: 80px; object-fit: contain;"></span>
        </a>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="search">
                <%= form_with(url: search_path, scope: :post, local: true) do |f| %>
                  <%= f.text_field :search, placeholder: "キーワード検索" %>
                  <% f.submit %>
                <% end %>
              </li>
              <!--管理者-->
              <% if current_user.admin? %>
                <li>
                  <%= link_to "管理者マイページ", user_path(current_user.id), class: "btn" %>
                </li>
                <li>
                  <%= link_to "みんなの記録", posts_path, class: "btn" %>
                </li>

              <!--ユーザー-->
              <% else %>
                <li>
                  <%= link_to "マイページ", user_path(current_user.id), class: "btn" %>
                </li>
                <li>
                  <%= link_to "記録する", log_posts_path, class: "btn" %>
                </li>
                <li>
                  <%= link_to "みんなの記録", posts_path, class: "btn" %>
                </li>
              <% end %>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %>
              </li>
            <!--ログイン前-->
            <% else %>
              <li>
                <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path, class: "btn" %>
              </li>
            <% end %>
          </ul>

      </div>
    </header>
    <%= yield %>
  </body>
</html>
